name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4

    - name: Import module
      shell: pwsh
      run: |
        $modulePath = "$env:GITHUB_WORKSPACE\src\technification-ps-toolkit.psd1"

        Test-Path $modulePath
        Import-Module $modulePath -Force

        Get-Module technification-ps-toolkit | Format-List Name,Version,Path
        Get-Command -Module technification-ps-toolkit

    - name: Package module
      shell: pwsh
      run: |
        $Output = "package"

        New-Item -ItemType Directory -Force -Path $Output | Out-Null

        Copy-Item -Path "$env:GITHUB_WORKSPACE\src\*" `
                  -Destination $Output `
                  -Recurse -Force

        Get-ChildItem -Recurse $Output

    - name: Create GitHub Release
      uses: softprops/action-gh-release@v2
      with:
        tag_name: ${{ github.ref_name }}
        name: Release ${{ github.ref_name }}
        files: package/**
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
