name: PowerShell CI
on:
  push:
  pull_request:

jobs:
  test:
    runs-on: windows-latest

    strategy:
      matrix:
        pwsh-version: [ "5.1", "7.4" ]

    steps:
    - uses: actions/checkout@v4

    - name: Setup PowerShell
      uses: PowerShell/PowerShell-For-GitHub-Actions@v1
      with:
        version: ${{ matrix.pwsh-version }}

    - name: Install dependencies
      shell: pwsh
      run: |
        Install-Module Pester -Force -Scope CurrentUser
        Install-Module PSScriptAnalyzer -Force -Scope CurrentUser

    - name: Run ScriptAnalyzer
      shell: pwsh
      run: Invoke-ScriptAnalyzer -Path . -Recurse -Severity Warning,Error

    - name: Run Pester tests
      shell: pwsh
      run: Invoke-Pester -Output Detailed
      
